<ion-header>
  <ion-toolbar>
    <ion-title>recover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recoverForm" (ngSubmit)="resetPassw($event)">
    <h4>Recuperar cuenta por email</h4>
    <ion-item>
    <ion-input formControlName="email" type="email" aria-placeholder="email" required></ion-input>
  </ion-item>
  <ion-chip color="danger" *ngIf="emailField.errors && emailField.dirty">
    <ion-label *ngIf="emailField.hasError('email')">El Email Es Invalido</ion-label>
    <ion-label *ngIf="emailField.hasError('required')">El Email Es requerido</ion-label>
  </ion-chip>

  <ion-button type="submit" expand="black">Recuperar cuenta</ion-button>
  <p>No Estas Registrado <a routerLink="../register/">Registrate</a></p>
  <p>Ya Tienes Cuenta <a routerLink="../login/">Ingresa</a></p>
  </form>
</ion-content>
